.btn {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	font-weight: 400;
	border: 2px solid #fff;
	padding: 10px 30px;
	transition: 0.6s;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	&:hover {
		color: #fff;
		background-color: $main-color;
		border-color: $main-color;
	}
	&:active {
		transform: translateY(2px);
		box-shadow: none;
	}
	@media (max-width: 576px) {
		font-size: 16px;
		padding: 8px 25px;
	}
	&_form {
		border: none;
		background-color: $main-color;
		&:hover {
			background-color: $main-color-act;
		}
	}
}
