.sidepanel {
	position: absolute;
	// left: -50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	transform: rotate(-90deg);
	&__divider {
		width: 80px;
		height: 2px;
		background-color: #fff;
	}
	&__text {
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		color: #fff;
	}
}
