.benefit {
	padding-top: 120px;
	@media (max-width: 768px) {
		padding-top: 40px;
	}
	&__wrapper {
		padding: 60px 65px 0 65px;
		display: grid;
		grid-template-columns: repeat(2, 425px);
		column-gap: 135px;
		@media (max-width: 1200px) {
			grid-template-columns: repeat(2, 380px);
			column-gap: 70px;
		}
		@media (max-width: 992px) {
			grid-template-columns: repeat(2, 275px);
			column-gap: 40px;
		}
		@media (max-width: 768px) {
			grid-template: auto auto / 1fr;
			row-gap: 40px;
		}
		@media (max-width: 576px) {
			padding: 40px 0 0 0;
		}
	}
	&__column {
		&-title {
			position: relative;
			padding-left: 50px;
			&::before {
				content: '';
				position: absolute;
				width: 15px;
				height: 15px;
				background: $main-color;
				border-radius: 100%;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
		ul {
			list-style: none;
			padding-left: 50px;
			li {
				position: relative;
				&::after {
					content: '';
					width: 1px;
					height: calc(100% + 16px);
					position: absolute;
					top: -16px;
					left: -43px;
					background-color: #000;
				}
			}
		}
	}
	&__item {
		position: relative;
		&::before {
			content: '';
			height: 1px;
			width: 43px;
			top: 48px;
			left: -43px;
			position: absolute;
			background-color: #000;
		}
		&-head {
			position: relative;
			padding: 30px 0 0 56px;
			h4 {
				margin-bottom: 0;
			}
		}
		&-body {
			margin-top: 12px;
		}
		&-icon {
			position: absolute;
			top: 30px;
			left: 0;
			@include before_circle;
			img {
				position: absolute;
				top: 14px;
				left: 17px;
			}
		}
		&-subtitle {
			margin-top: 5px;
		}
	}
}
