.benefit {
	padding-top: 120px;
	&__title {
		position: relative;
		text-align: center;

		@include before_circle;
		&:before {
			top: -6px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	&__subtitle {
		text-align: center;
	}
	&__wrapper {
		padding: 60px 65px 0 65px;
		display: grid;
		grid-template-columns: repeat(2, 425px);
		column-gap: 135px;
	}
	&__column {
		&-title {
			position: relative;
			padding-left: 50px;
			&::before {
				content: '';
				position: absolute;
				width: 15px;
				height: 15px;
				background: $main-color;
				border-radius: 100%;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
		ul {
			list-style: none;
			padding-left: 50px;
			li {
				position: relative;
				&::after {
					content: '';
					width: 1px;
					height: 100%;
					position: absolute;
					top: -16px;
					left: -43px;
					background-color: #000;
				}
			}
		}
	}
	&__item {
		&-head {
			padding: 45px 0 0 56px;
		}
		&-body {
			// padding-left: 50px;
		}
	}
}
