.promo {
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('../images/header-bg.jpg') no-repeat 50% / cover;
	&__wrapper {
		max-width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}
	&__title {
		font-weight: 400;
		font-size: 42px;
		line-height: 48px;
		color: #fff;
		text-align: center;
	}
	&__subtitle {
		margin: 25px 0 30px;
		font-weight: 600;
		font-size: 18px;
		text-align: center;
		color: #fff;
	}
}
