.promo {
	min-height: 100vh;
	position: relative;
	padding-top: 200px;
	padding-bottom: 50px;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url('../images/header-bg.jpg') no-repeat 50% / cover;
	&__wrapper {
		max-width: 80%;
		margin: 0 auto 25px;
	}
	&__title {
		font-weight: 500;
		font-size: 48px;
		line-height: 60px;
		color: #fff;
		text-align: center;

		span {
			color: $main-color;
		}
	}
	&__subtitle {
		margin: 30px auto 0;
		font-weight: 500;
		font-size: 18px;
		text-align: center;
		color: #fff;
	}
}
