.skills {
	padding-top: 125px;
	&__wrapper {
		padding: 60px 10px 0;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 13px;
	}
	&__item {
		padding: 30px;
		border: 1px solid #000;
	}
	&__img {
		height: 65px;
		max-width: 160px;
	}
}
